@{
    Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Data updated successfully";
}

<h2>
	Data updated successfully
</h2>
<br/>
@Html.ActionLink("<- Return to users management page", "Index")
