<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DbConnection" connectionString="server=hermes\sql2008r2;database=KitchIn;User Id=KitchIn;Password=kitchin_pas;" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="Ki123Ki123" />
    <add key="Password" value="tRHQIdKnmWmP2hs6oaKW3vDn" />
    <add key ="PossibleOptionsEndOfReceiptsPotash" value="tax-code,taxable-val,tax-value,balance,balance due,american express,visa,debit card,total number,total" />
    <add key ="PossibleOptionsBeginOfReceiptsPotash" value="potash supermart,potash,supermart,clark street,clark,chicago,60610,337-7537,312)337,)337,duplicate receipt,duplicate,receipt" />
    <add key="ItemSubtracted" value="item subtracted,subtracted"/>
    <add key="ItemCancelled" value="item cancelled,cancelled"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="10485760"  maxBufferSize="10485760"  closeTimeout="00:01:00" openTimeout="00:01:00"  receiveTimeout="00:10:00" sendTimeout="00:01:00" >
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="KitchIn.WCF.KitchInAppService">
        <endpoint contract="KitchIn.WCF.IKitchInAppService" binding="webHttpBinding" bindingNamespace="KitchIn.WCF" address="" />
        <!--<endpoint address="mex" name="mexHttpbinding" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="dev-community@nixsolutions.com" deliveryMethod="Network">
        <network host="smtp.nixsolutions.com" port="25" password="" userName="" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Fasterflect" publicKeyToken="38d18473284c1ca7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>