@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hgroup class="title">
    <h1 class="error">Not found (404).</h1>
    <h2 class="error">Could not find what you were looking for.</h2>
</hgroup>